@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Medium"),
    local("PlayfairDisplay Medium"),
    url(../fonts/PlayfairDisplay-Medium.woff2) format(woff2),
    url(../fonts/PlayfairDisplay-Medium.woff) format(woff),
    url(../fonts/PlayfairDisplay-Medium.svg) format(svg);
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}

header {
    height: 135px;
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    max-width: 97%;
    margin: 0 auto;
    text-align: right; 
    padding-top: 52px;
}

.menu { 
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin-left: 51px;
    list-style-type: none;
    display: inline; 
}

.menu-link {
    color: #000000;  
    text-decoration: none;
}

.hero-section {
    height: 630px;
    width: 100%;
    position: relative;
    background-image: url(../images/hero-section-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.hero-wrapper {
    max-width: 690px; 
    min-height: 360px;  
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 10;*/
    
}

h1 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: normal;
   /* padding-top: 105px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;*/
    padding: 105px 120px 8px;
   }

h3 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: 114.64px;
   }
     
.subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
   /* padding-top: 8px;*/
    padding-bottom: 100px;
}

.biography-section {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    margin-bottom: 183px;
    height: 840px;
}

h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px; 
}

.biography-section-title {
    transform: rotate(270deg);
    margin-top: 43px;
    margin-left: -15px;
}

.biography-img-wrapper {
    order: -1;
    margin-left: 140px;
    max-width: 50%;
}

.biography-picture {
    max-width: 100%;
    max-height: 840px;
}

.biography-content {
    padding-top: 176px; 
    padding-left: 42px;
}

.biography-position {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #0D0D0D;
    margin-top: 37px;
}

.biography-skills {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #0D0D0D;
    margin-top: -1px;
}

.skills::after {
    content: " / ";
    color: #0D0D0D;
}

.img-rectangle::before {
    content: "-";
    color: #0d0d0d;
    font-size: 5em /*80px*/;
    line-height: 0.7; 
    margin-left: -3px;
}

.biography-blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
}

.designer-name {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.designer-about {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.testimonials-section {
    height: 760px;
    margin: 0 auto;
    max-width: 97.2%;
    margin-bottom: 200px;
}

.testimonials-section-wrap{
    max-height: 100%;
    display: grid;
    margin-left: 8.5%;
    grid-template-columns: 7.6% 35.5% 2.1% 1fr 35% 1fr;
    grid-template-rows: 48% 52%;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.testimonials-section-title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    transform: rotate(270deg);
    margin-left: 5px;
    margin-top: 115px;
}

.testimonials-list {
    list-style-type: none;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
}

.testimonials-list-item {
    transform: rotate(270deg);
    place-self: center;
  /*margin-left: 20px;*/
    margin-left: 21%;
    margin-bottom: 3%;
}

.item-website {
  /*margin-left: 35px;*/
    margin-left: 40%;
}

.testimonials-website {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.testimonials-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    text-decoration: none;
}

.testimonials-large-foto-wrap {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.testimonials-large-foto {
  /*grid-column: 2 / 3;
    grid-row: 1 / span 2;*/
    max-width: 100%;
    max-height: 100%;
}

.testimonials-small-foto-wrap {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
    margin-bottom: 12%;
    margin-left: -10%;
  /*padding-top: 25px;*/
  /*padding-top: 3.7%;*/
  /*padding-bottom: 8.2%;*/
  /*padding-left: 190px;*/
  /*padding-left: 30%;*/
}

.testimonials-small-foto {
 /* grid-column: 4 / 5;
    grid-row: 2 / 3;
    padding-top: 25px;
    padding-left: 190px;*/
    max-width: 100%;
    max-height: 100%;
}

.testimonials-blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    grid-column: 5 / 6;
    padding-left: 21%;
    padding-right: 30.8%;
    padding-top: 9.5%;
  /*align-self: start;*/
    text-align: center;
    z-index: 10;
}

.strengths-list {
    font-family: Bitter;
    font-weight: 400;
    font-size: 34px;
    line-height: normal;
}