@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Medium"),
    local("PlayfairDisplay Medium"),
    url(../fonts/PlayfairDisplay-Medium.woff2) format(woff2),
    url(../fonts/PlayfairDisplay-Medium.woff) format(woff),
    url(../fonts/PlayfairDisplay-Medium.svg) format(svg);
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}

header {
    height: 135px;
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    max-width: 97%;
    margin: 0 auto;
    text-align: right; 
    padding-top: 52px;
}

.menu { 
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin-left: 51px;
    list-style-type: none;
    display: inline; 
}

.menu-link {
    color: #000000;  
    text-decoration: none;
}

.hero-section {
    height: 630px;
    width: 100%;
    position: relative;
    background-image: url(../images/hero-section-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wrapper {
    max-width: 690px; 
    min-height: 360px;  
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 10;*/
    
}

h1 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: normal;
   /* padding-top: 105px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;*/
    padding: 105px 120px 10px;
   }

h3 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: 114.64px;
   }
     
.subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
   /* padding-top: 8px;*/
    padding-bottom: 100px;
}

h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

.biography-skills {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #0D0D0D;
}

.biography-blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
}

.designer-name {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.designer-about {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.testimonials-website {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.testimonials-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #000000;
}

.testimonials-blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
}

.strengths-list {
    font-family: Bitter;
    font-weight: 400;
    font-size: 34px;
    line-height: normal;
}