@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Medium"),
    local("PlayfairDisplay Medium"),
    url(../fonts/PlayfairDisplay-Medium.woff2) format(woff2),
    url(../fonts/PlayfairDisplay-Medium.woff) format(woff),
    url(../fonts/PlayfairDisplay-Medium.svg) format(svg);
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    /*контрольная точка взята с сайта bootstrap-4*/
    /*для установки меню внизу страницы*/
    body {
        display: flex;
        flex-direction: column;
    }
}

header {
    height: 135px;
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    max-width: 97%;
    margin: 0 auto;
    text-align: right; 
    padding-top: 52px;
}

.menu { 
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin-left: 51px;
    list-style-type: none;
    display: inline; 
}

.menu-link {
    color: #000000;  
    text-decoration: none;

    transition: all 0.5s ease;
}

.menu-link:hover {
    text-decoration: underline;
    color: rgb(129, 118, 118)
}

.menu-link:focus-visible {
    outline-color: white;
    border: 13px solid grey;
    border-radius: 15px;
    background-color: grey;
    color: white;
}

.menu-list-mobile {
    display: none;
}

@media screen and (max-width: 576px) {
    header {
        height: auto;
        max-width: 100%;
        margin: 65px 0 0 0;
        order: 100;
        flex-grow: 1;
        margin-bottom: 0;
        border-top: 1px #000000 solid;
    }
    
    nav {
        margin: 15px 0 15px 5px;
        padding-top: 1.5px;
        display: flex;
        flex-direction: row;
        justify-content: end;  
    }
    
    .menu { 
        font-family: Bitter;
        font-weight: 400;
        font-size: 40px;
        line-height: normal;
        list-style-type: none;
        display: inline; 
        margin-left: 0px;
    }
    
    .menu-link {
        color: #000000;  
        text-decoration: none;
    }
    
    .menu-list {
        display: none;
    }

    .menu-list-mobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
        min-width: 350px;
    }
    .menu-link:focus-visible {
        text-decoration: underline;
    }
}

.hero-section {
    height: 764px;
    width: 100%;
    position: relative;
    background-image: url(../images/hero-section-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.hero-section-content {
    max-width: 690px; 
    min-height: 360px;  
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: normal;
    padding: 105px 120px 8px;
   }

h3 {
    font-family: Playfair Display, serif;
    font-weight: normal;
    font-size: 86px;
    line-height: 114.64px;
   }
     
.hero-section-content__subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 100px;
}


/*Мобильная версия - 
сверка по макету на ширине 460px, 
при этом 10px занимает скролл*/ 

@media screen and (max-width: 576px) {
    .hero-section {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        position: relative;
        background-color: #FFFFFF;        ;
        background-image: url(../images/hero-section-picture-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 45px;
    }

    .hero-section-content {
        width: 100%;
        top: 160px;
    }

    h1 {
        font-size: 70px;
        padding: 130px 0 10px 0;
    }

    .hero-secton-content__subtitle{
        font-size: 18px;
        padding: 4px 12px 110px 0;
    }
}

.biography-section {
    width: 1440px;
    margin: 0 auto;
    max-width: 100%;
}

.biography-section-flexbox {
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 150px;
    height: 840px;
}

h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px; 
}

.biography-section__title {
    transform: rotate(270deg);
    padding-right: 80px;
    margin-left: 65px;
    text-align: center;
}

.biography-img-box{
    order: -1;
}

.biography-img-box__picture {
    max-width: 100%;
    max-height: 840px;
}

.biography-text-content {
    align-self: center;
    padding-left: 138px;
}

.biography-text-content__position {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #0D0D0D;
    margin-top: 37px;
}

.biography-text-content__skills {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #0D0D0D;
    margin-top: -1px;
}

.skills::after {
    content: " / ";
    color: #0D0D0D;
}

.img-rectangle::before {
    content: "-";
    color: #0d0d0d;
    font-size: 5em /*80px*/;
    line-height: 0.7; 
    margin-left: -3px;
}

.biography-text-content__blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
}

@media screen and (max-width: 576px) {
    .biography-section {
        max-width: 100%;
        margin-left: 0;
        padding-top: 5px;
    }

    h2 {
        font-size: 18px;
        line-height: normal; 
        margin-right: 9px;
    }

    .biography-section__title {
        transform: rotate(0deg);
        padding-right: 28px;
        text-align: right;
        order: 2;
        z-index: 1;
    }
    
    .biography-section-flexbox {
        max-width: 100%;
        margin-top: -22px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: start;
        margin-left: 0;
        gap: 0;
    }

    .biography-img-box {
        order: 3;
        margin-left: 0;
        max-width: 100%;
    }

    .biography-text-content {
        padding-top: 0; 
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: start;
    }

    .biography-text-content__position {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
        color: #000000;
        margin-top: 0;
        padding-left: 18px;
        order: -10;
    }

    /*Для переноса слов добавлены классы*/
    .biography-text-content__skills_mobile{
        line-height: 1.21;
        color: #000000;
        margin-top: 0;
        padding-left: 18px;
        order: -8;
        display: flex;
        flex-direction: column;
        }
    
    .skills_mobile::before {
        content: "- ";
    }

    .skills::after {
        content: none;
    }

    .biography-text-content__blockquote {
        font-family: Bitter;
        font-weight: 300;
        font-size: 30px;
        line-height: normal;
        order: -5;
        margin-top: 55px;
        padding-left: 17px;
        padding-right: 50px; 
        align-self: stretch;
    }

    br {
        display: none;
    }

    .biography-title {
        margin-top: 88px;
        padding-left: -px;
        font-family: Playfair Display, serif;
        font-weight: normal;
        font-size: 64px;
        line-height: 1.3;
        margin-bottom: 35px;
    }

    .biography-title::before {
        content: "-";
        padding-left: 18px;
    }

    .img-rectangle::before  {
        content: none;
    }

    .biography-img-box {
        max-width: 100%;
        align-self: center;
    }

    .biography-img-box__picture-mobile {
        width: 100%;
    }
}

/*Секция Дизайнеры для десктопа*/
.designers-section {
    margin: 0 auto;
    padding-top: 43px;
    width: 1440px;
    max-width: 100%;   
    margin-bottom: 150px; 
    height: 677px;
}

.designers-section-title {
    margin-left: 140px;
    height: 58px;
}

.designers-section-wrap {
    height: 619px;
    padding-top: 20px;
    margin-left: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: end;
    height: 91.5%;   
    gap: 20px;
    overflow-x: scroll;
    z-index: 20;
}

.designers-description-foto {
    margin-bottom: 20px;
}

/*добавляется при увеличенном изображении к тегу img*/
.description-foto-large {
    height: 550px;
    width: 572px;
    z-index: 100;
}

/*добавляется при увеличенном изображении к тегу figcaption*/
.description-large {
    margin-left: 240px;
}

.designer-name {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
}
    
.designer-about {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

@media screen and (max-width: 576px) {
    .designers-section {
     height: 565px;
     margin-bottom: 80px;
    }
    
    .designers-section-title {
        margin-left: 15px;
        height: 35px;
    }
    
    .designers-section-wrap {
       margin-left: 16px;
    }
    
    .designers-description-foto {
        margin-bottom: 20px;
    }
    
    /*добавляется при увеличенном изображении к тегу img*/
    .description-foto-large {
        height: 437px;
        width: 310px;
        z-index: 100;
    }
    
    /*добавляется при увеличенном изображении к тегу figcaption*/
    /*в мобильной версии сдвиг подписи вправо не нужен*/
    .description-large {
        margin-left: 4px;
    }
    
    .designer-name {
        margin-left: -4px;
    }
        
    .designer-about {
        margin-left: -4px;
    }
}

.testimonials-section {
    height: auto;
    margin: 0 auto;
    width: 1440px;
    max-width: 97.2%;
    margin-bottom: 150px;
}

.testimonials-section-wrap{
    max-height: 100%;
    display: grid;
    margin-left: 8.5%;
    grid-template-columns: 7.6% 35.5% 2.1% 1fr 35% 1fr;
    grid-template-rows: 48% 52%;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.testimonials-section-title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    transform: rotate(270deg);
    margin-left: 5px;
    margin-top: 115px;
}

.testimonials-list {
    list-style-type: none;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(3, 33.5%);
    grid-template-columns: 100%;
}

.testimonials-list-item {
    transform: rotate(270deg);
    place-self: center;
    margin-left: 21%;
    margin-bottom: 3%;
}

.item-website {
    margin-left: 40%;
}

.testimonials-website {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.testimonials-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
}

.testimonials-link:hover {
    text-decoration: underline;
}

.testimonials-link:focus-visible {
    border: 10px grey;
    outline: white;
    background-color: grey;
    border-radius: 5px;
    color: white;
}

.testimonials-large-foto-wrap {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    overflow-x: hidden;
}

.testimonials-large-foto {
    width: 467.73px;
    height: 760px;
    filter: contrast(70%);
    transition: all 0.5s ease;
}

.testimonials-large-foto:hover {
    filter: contrast(100%);
}

.testimonials-small-foto-wrap {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
    margin: 0 0 12% -10%;
   }

.testimonials-small-foto {
    max-width: 100%;
    max-height: 100%;
}

.testimonials-blockquote {
    font-family: Bitter;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    grid-column: 5 / 6;
    padding-left: 21%;
    padding-right: 30.8%;
    padding-top: 9.5%;
    text-align: center;
    z-index: 10;
}

@media screen and (max-width: 1200px) {
    .testimonials-blockquote {
        grid-column: 4 / 7;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30%;
        text-align: center;
        z-index: 10;
    }
}

@media screen and (max-width: 700px) {
    .testimonials-section {
        width: 98%;
        margin-bottom: 32px;
}

    .testimonials-section-wrap{
        max-width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;
}

    .testimonials-section-title {
        transform: rotate(0deg);
        align-self: end;
        margin-right: 25px;
        margin-top: 8px;
}

    .testimonials-list {
        list-style-type: none;
        order: 10;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 15px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 45% 45%;
        align-items: start;
        height: 100px;
        row-gap: 18px;
        column-gap: 25px;
    }

    .testimonials-list-item {
        transform: rotate(0deg);
        margin-left: 0px;
        margin-right: 0px;
    }

    .item-website {
        margin-left: -8px;
    }

    .testimonials-item-mobile {
        margin-left: -12px;
        padding-top: 2px;
    }

    .testimonials-large-foto-wrap {
        display: none;
    }

    .testimonials-small-foto-wrap {
       margin: 0 auto 2px;
    }

    .testimonials-small-foto {
        max-width: 100%;
        max-height: 100%;
    }

    .testimonials-blockquote {
        font-weight: 300;
        font-size: 30px;
        line-height: normal;
        padding-left: 50px;
        padding-right: 63px;
        padding-top: 1.8%;
    }
}
/*Окончание мобильной версии секции Тестимониалс*/


/*Секция Стронг пойнст десктоп"*/
.strong-points-section {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    max-width: 100%;
    margin-bottom: 100px;
}

.strong-points-section-wrap {
    max-width: 98.6%;
    margin-left: 1.4%; 
}

.strong-points-section-title {
    height: 58px;
    padding-left: 17%;
}

.strong-points-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}

.strong-points-strengths {
    align-self: flex-start;
    padding-left: 40px;
    padding-right: 40px;
}

.strong-points-strengths-title {
    margin-top: -10px;
    margin-bottom: 10px;
}

.strengths-list {
    font-family: Bitter;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.25;
    list-style-type: none;
    padding-left: 80px;
}

.strengths-list li:hover {
    background-color: rgb(223, 199, 199); 
    border-radius: 15px;
    transition: all 0.5s ease;
}

/*Код с помощью autoprefixer CSS online*/
/*.strong-points-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 100px;
}

.strong-points-section-wrap {
    max-width: 98.6%;
    margin-left: 1.4%; 
}

.strong-points-section-title {
    height: 58px;
    padding-left: 17%;
}

.strong-points-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 335px 20px 335px 20px 451px 20px 335px 20px 335px;
    grid-template-columns: 335px 335px 451px 335px 335px;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    gap: 20px;
    overflow-x: scroll;
}

.strong-points-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.strong-points-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.strong-points-content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.strong-points-content > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.strong-points-content > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.strong-points-strengths {
    -ms-grid-column-align: center;
        justify-self: center;
}

.strong-points-strengths-title {
    margin-top: -10px;
    margin-bottom: 10px;
}

.strengths-list {
    font-family: Bitter;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.25;
    list-style-type: none;
    padding-left: 80px;
}*/

@supports (display: grid) {
    .strong-points-content {
        display: grid;
        grid-template-columns: 335px 335px 451px 335px 335px;
        grid-template-rows: 100%;
        gap: 20px;
        overflow-x: scroll;
    }

    .strong-points-strengths {
        justify-self: center;
    }
}

@media screen and (max-width: 576px) {
    /*только у двух первых картинок подходящий размер*/
    
    .strong-points-section {
        max-width: 100%;
        margin-bottom: 12px;
    }
    
    .strong-points-section-title {
        height: 52px;
        padding-left: 10.5px;
    }
    
    .strong-points-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: start;
        gap: 20px;
        overflow-x: scroll;
    }
    
    .strong-points-strengths {
        align-self: start;
        order: -1;
        padding-left: 40px;
        padding-right: 0px;
    }
    
    .strong-points-strengths-title {
        margin-left: -30px;
        margin-bottom: 13.5px;
        font-size: 46px;
        line-height: normal;
    }
    
    .strengths-list {
        font-size: 24px;
        line-height: 1.55;
        list-style-type: none;
        padding-left: 0px;
        margin-left: -17px;
    }

    /*картинки только на десктопе*/
    .strengths-img-only-desktop{
        display: none;
    }
}